* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/* Colors here */
:root {
    --black-color: #000000;
    --text-color: #0f172a;
    --white-color: #fff;
    --home-color: #d6621f;
    --other-color:  #334155;
    --orange-color: #FD5201;
    --f7f9ff: #f7f9ff;
    --big-font: 4.4rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}
body {
    background: var(--black-color);
    color: var(--white-color);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
    width: 100%;
    z-index: 2;
    transition: all 0.7s ease;
    position: fixed;
    top: 0;
    right: 0;
    background: transparent;
}
header.sticky {
    /* background: var(--bg-color); */
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
}
.navbar a {
    display: inline-block;
    color: var(--bg-color);
    padding: 10px 18px;
    margin: 0 10px 0 10px;
    font-size: 20px;
    transition: all 0.45s ease;
}
.navbar a:hover {
    background: var(--other-color);
    color: var(--main-color);
} 
.navbar a.active {
    color: var(--main-color);
    background: var(--other-color);
}
#menu {
    display: none;
    z-index: 2;
}
@media (max-width: 992px) {
    #menu {
        display: block;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .navbar  {
        /* background: var(--bg-color); */
        position: absolute;
        width: 100%;
        height: 50vh;
        top: 100%;
        right: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.7s ease;
        background-color: transparent;
        backdrop-filter: blur(10px);
        background-image: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.2));
    }
    .navbar a {
        display: block;
        margin: 1.1rem 0;
        font-size: 15px;
    }
    .navbar.open {
        right: 0;
    }
}
span  {
    color: var(--orange-color);
}
.home {
    background: var(--bg-color);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
}
/* Feature section design */
.an {
     background: var(--white-color);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 105vh;

}
/* For home section */
@media (max-width: 1129px) {
    .home {
        height: 130vh;
    }
}
/* From Uiverse.io by Allyhere */ 
.btn-1 {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: #d6621f;
  --btn-bg-2:  #000000;
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px #d6621f,
}
.btn-1:hover {
  background-position: right top;
}



